{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobile Phone Survey Form</title>
  <link rel="stylesheet" href="{% static 'CSS/style_help.css' %}" />
</head>

<body>
  <h1 id="title">Help & Support</h1>
  <p id="description">Thank you for taking the time to help us improve the platform</p>
  <div class="Q&A">
      <h3>Q: What is online tutoring?</h3>
      <p>A: Online tutoring is a form of distance education where students receive academic instruction and support remotely through the internet.
          Students can connect with tutors using video conferencing, instant messaging, or other online communication tools.</p>
      <h3>Q: How does online tutoring work?</h3>
      <p>A: Online tutoring typically involves scheduling a session with a tutor and connecting via a video conferencing platform or other online communication tool.
          During the session, the tutor provides academic instruction, feedback, and support to the student in real-time.</p>
      <h3>Q: What are the benefits of online tutoring?</h3>
      <p>A: Online tutoring offers several benefits, including flexibility, convenience, and access to a wider pool of tutors.
          It also eliminates the need for students to travel to tutoring centers or meet in-person with tutors.</p>
      <h3>Q: How do I find an online tutor?</h3>
      <p>A: There are several ways to find an online tutor.
          You can search for tutoring services online, ask for recommendations from friends or family members, or reach out to local tutoring centers or educational institutions.</p>
  </div>
  <h2>Any other issues or suggestions? Please call us 123-456-7899 or send email to TutorBirdTB@gmail.com</h2>
  <h2>Business Hours: Monday - Friday 8:00 AM to 4:00 PM</h2>
  <div class="center">
      <a href="/index/"><button class="btn">Exit</button></a>
  </div>

</body>

</html>