{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'CSS/style_register.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="signup-form">
        <form method="post" action="/register/">
            {% csrf_token %}
            <h1>Register</h1>
            <div class="content">
                 {% if response == 404 %}
                    <p style="color:red" id="registerErrorMessage">
                        Unsuccessful Registration<br>
                        Make sure all information are enter
                    </p>
                {% elif response == 405 %}
                    <p style="color:red" id="registerErrorMessage">
                        Unsuccessful Registration<br>
                        Username has been used
                    </p>
                {% endif %}
                <div class="input-field">
                    <input type="text" name="firstN" placeholder="First Name" required>
                </div>
                <div class="input-field">
                    <input type="text" name="lastN" placeholder="Last Name" required>
                </div>
                <div class="input-field">
                    <input type="text" name="phoneNum" placeholder="Phone Number" required>
                </div>
                <div class="input-field">
                    <input type="text" name="email" placeholder="Email" required>
                </div>
                <div class="birth">
                    <label>Date Of Birth</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
                <div class="input-field">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="input-field">
                    <input type="text" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" placeholder="Password">
                </div>
                <div class="input-field">
                      <input type="radio" id="teacher" name="role" value="Tutor">
                      <label for="teacher">Teacher</label><br>
                      <input type="radio" id="student" name="role" value="Student">
                      <label for="student">Student</label><br>
                </div>
                <div class="button">
                    <button>Register</button>
                </div>

                <div id="message">
                  <h3>Password must contain the following:</h3>
                      <p id="letter" class="invalid">At least one <b>lowercase</b> letter</p>
                      <p id="capital" class="invalid">At least one <b>uppercase</b> letter</p>
                      <p id="number" class="invalid">At least one <b>number</b></p>
                      <p id="length" class="invalid">Minimum <b>6 characters</b></p>
                </div>
                <script type="text/javascript" src="{% static 'JS/script.js' %}"></script>
            </div>
            <div class="login">
                <p>Already have an account?<a href="/login/">LOGIN</a></p>
            </div>

        </form>
    </div>



</body>
</html>